@import '~assets/scss/_variables.scss';

.textInputWrapper {
  width: 100%;
  > div {
    width: 100%;
    > div {
      label {
        & + div {
          margin-top: 18px;
        }
      }
    }
    textarea {
      min-height: 100px;
    }
  }
  &.inputHidden {
    display: none !important;
  }
  &.variantOutlined {
    label {
      transform: translate(14px, 12px) scale(0.75) !important;
    }
  }
  .inputIcon {
    position: absolute;
    top: 25px;
    right: 0;
  }
  .errorText {
    margin-top: 0 !important;
  }
  .errorTextHide {
    visibility: hidden;
    margin-top: 0 !important;
  }
}
